* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #ffffffef;
  color: #000032;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #efed40;
    display: grid;
    place-items: center;
    cursor: pointer;
    
    .dropdown-menu {
      text-align: center;
      width: 300px;
      height: 400px;
      background-color: #000032;
      color: white;
      
      transition: all .5s linear;
      .user-img {
        margin: 1rem;
        display: grid;
        place-items: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

    }
  }
}

.select-zone {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  color: #fff;

  .btn-block {
    // width:400px;
    // background-color: #000032;
    // padding: 3rem;
    // height:450px;
    // margin-top: 2rem;
    // border-radius: 2rem;
    width: 400px;
    height: 450px;
    background-color: #000032;
    border-radius: 2rem;
  }
}

body {
  // display: grid;
  // place-items: center;
  // height: 100vh;

  .game-zone {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // margin-bottom: 5rem;

      h2,
      .quiz-round {
        background-color: rgb(69, 255, 255);
        width: 80px;
        height: 80px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-size: 1.9rem;
      }
    }

    .quiz-zone {
      padding: 1rem;
      width: 800px;
      height: 450px;

      display: grid;
      grid-template-rows: 0.2fr 1fr;

      .quiz {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        border: 1px solid lightblue;
        background-color: #efed40;

        span {
          font-size: 30px;
          border: 1px solid black;
          padding: 0.5rem;

          &:not(:nth-child(2)) {
            background-color: red;
            color: #fff;
          }
        }
      }

      .answers {
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 45%;

          .answer {
            width: max-content;
            font-size: 40px;
            background-color: lightblue;
            padding: 0.5rem;
            cursor: pointer;
            transition: transform 0.3s linear;

            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }

    .points {
      width: 1200px;
      height: 70px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, 50px);
      border: 1px solid lightblue;
      padding: 0.5rem;

      .point {
        width: 50px;
        height: 50px;
        color: #fff;

        &--success {
          background-color: green;
        }

        &--fail {
          background-color: red;
        }

        &--timeout {
          background-color: black;
        }
      }
    }
  }
}

;

.login-zone {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  .login-block {
    width: 400px;
    height: 450px;
    background-color: #000032;
    border-radius: 2rem;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block;
}